# path to an sqlite database, for parameter storage
database_path = "db.sqlite"

[controller]
# path to CSV file with light positions
points_path = "lights.csv"
# path to the [animation plugins directory](../animations/README.md)
plugin_path = "target/animations/"
# if you don't want to use actual lights and just want to use the visualizer define empty lights
lights = []

# you can specify multiple light endpoints
[[controller.lights]]
# URL of the pico-w-neopixel-server endpoint over HTTP
remote = "http://192.168.0.2"
# In case your lights expect a different byte order for color triplets,
# you can overwrite the default RGB ordering. Supported values are RGB (default), GRB and BGR.
byte_order = "GRB"

[[controller.lights]]
# URL of the pico-w-neopixel-server endpoint over TCP
remote = "tcp://192.168.0.3"

[[controller.lights]]
# URL of the pico-w-neopixel-server endpoint over UDP
remote = "udp://192.168.0.4"

[[controller.lights]]
# to autodetect lights connected via USB
tty = "detect"

[[controller.lights]]
# to specify lights connected via USB
tty = "/dev/usb.tty0"
