[Unit]
Description=Rustmas Lights Web API
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/rustmas
ExecStart=/home/pi/rustmas/target/release/rustmas-webapi
IPAccounting=true

[Install]
WantedBy=multi-user.target
