/**
 * Color palette:
 * Primary: #195710
 * Background: #869684
 * Lighter background: #d9ddd9
 * Black: #031600
 * Secondary light: #45763D
 * Secondary dark: #073300
 */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: #031600;
    min-height: 100vh;
    color: #031600;
}

header {
    width: 100%;
    background-color: #031600;
    color: white;
    padding: 1em;
    font-weight: bold;
}

header h1 {
    font-size: 1em;
}

.content {
    display: flex;
    flex-grow: 1;
    background-color: #d9ddd9;
}

nav {
    width: 20vw;
    min-width: 240px;
    background-color: #869684;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: inline-block;
    padding: 1em;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

nav a:hover {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #45763D;
    color: white;
}

.parameter-control-list {
    width: 80vw;
    padding: 0 1em;
}

.parameter-control-list>p {
    padding: 1em 0;
    font-style: italic;
}

.parameter-control.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}

.parameter-control-list input[type="submit"],
.parameter-control-list input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    width: 25%;
    padding: 1em;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.parameter-control-list input[type="submit"] {
    background-color: #1A5710;
}

.parameter-control-list input[type="button"] {
    background-color: #aba;
    color: #031600;
}

.parameter-control-list input[type="submit"]:hover {
    background-color: #45763D;
}

.parameter-control-list input[type="button"]:hover {
    background-color: #bcb;
}

.parameter-control {
    max-width: 800px;
    padding: 1em 0;
    border-top: 1px solid #031600;
}

.parameter-control:first-child,
.parameter-control:last-child {
    border: none;
}

.parameter-control input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 4em;
    margin-top: 1em;
    border: 1px solid #031600;
    border-radius: 0;
    cursor: pointer;
}

.parameter-control input[type="color"]::-moz-color-swatch {
    border: none;
}

.parameter-control input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.parameter-control input[type="color"]::-webkit-color-swatch {
    border: none;
}

.parameter-control select {
    width: 100%;
    height: 3em;
    margin-top: 1em;
    padding: 0.5em;
    border: 1px solid #031600;
    border-radius: 0;
    background-color: white;
    color: #031600;
    font-size: 1em;
}

.slider-control {
    display: flex;
    align-items: stretch;
    height: 2em;
    margin-top: 1em;
}

.parameter-control input[type="range"] {
    flex-grow: 1;
}

.parameter-control input.value-display {
    width: 50px;
    color: #031600;
    opacity: 1;
    padding-left: 0.5em;
    background: none;
    line-height: 2em;
    text-align: right;
    font-size: 1em;
}

@media screen and (max-width: 560px) {
    .content {
        flex-direction: column;
    }

    nav,
    .parameter-control-list {
        width: 100vw;
    }
}